@import "./mixins";
@import "./animation";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 70vh;
  background-color: rgba(168, 164, 164, 0.815);
  margin: 0;
}
.load {
  width: inherit;
  height: inherit;
  @include flex(flex-start);
  flex-direction: column;
  @include border;
}

.item {
  margin: 10px auto;
  height: 50px;
  width: 200px;
  background-color: rgba(233, 229, 229, 0.815);
  border-radius: 20px;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  z-index: 1;
}

.load:nth-child(1) {
  animation: move;
}
