@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(168, 164, 164, 0.815);
  margin: 0;
  @include center-element;
}

.item-container {
  height: 200px;
  width: 200px;
  background-color: rgba(233, 229, 229, 0.815);
  margin: auto;
}
