@import "./mixins";
@import "./animation";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 70vh;
  background-color: rgba(168, 164, 164, 0.815);
  margin: 0;
}

.item {
  margin: 10px;
  height: 50px;
  width: 100px;
  background-color: rgba(233, 229, 229, 0.815);
  border-radius: 20px;
}

.one {
  animation: move 5s 1s infinite alternate;
}

.two {
  animation: move 5s 0.5s infinite alternate;
}

.three {
  animation: move 5s 0s infinite alternate;
}
