$items-count: 30;

@for $i from 1 through $items-count {
  .load:nth-child(#{$i}) {
    animation: move (random(4) + s) ((random(60) / 10) + s) infinite;
  }
  .item {
    background: linear-gradient(
      to bottom right,
      lighten(gray, random(40)),
      rgba(darken(gray, random(10)), 1)
    );
  }
}
