$items-count: 48;

@for $i from 1 through $items-count {
  @if (($i % 2) !=0) {
    .item:nth-child(#{$i}) {
      animation: move 3s 1s infinite alternate;
      background: linear-gradient(
        to bottom right,
        lighten(gray, random(40)),
        rgba(darken(gray, random(10)), 1)
      );
    }
  } @else if (($i % 3)) {
    .item:nth-child(#{$i}) {
      animation: move 3s 0.5s infinite alternate;
      background: linear-gradient(
        to bottom right,
        lighten(gray, random(40)),
        rgba(darken(gray, random(10)), 1)
      );
    }
  } @else {
    .item:nth-child(#{$i}) {
      animation: move 3s 0s infinite alternate;
      background: linear-gradient(
        to bottom right,
        lighten(gray, random(40)),
        rgba(darken(gray, random(10)), 1)
      );
    }
  }
}
